<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android = "http://schemas.android.com/apk/res/android"
    xmlns:dist = "http://schemas.android.com/apk/distribution"
    package = "com.yujongu.weatherapp">

    <dist:module dist:instant = "true" />

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup = "true"
        android:icon = "@mipmap/ic_launcher"
        android:label = "@string/app_name"
        android:roundIcon = "@mipmap/ic_launcher_round"
        android:supportsRtl = "true"
        android:theme = "@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name = "android.intent.action.MAIN" />

                <category android:name = "android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name = ".DetailsActivity"></activity>
        <activity android:name = ".Firstpage"></activity>
        <activity android:name=".SettingsActivity"></activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCbd6VTVjVCCv6X85PABgargecUcUNjVms"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7052236688658185~2210565212"/>
    </application>

</manifest>